:root {
  /* Base colors */
  --yellow-100: #ffc600;
  --yellow-200: #eab308;
  --yellow-300: #ca8a04;
  --black: #000000;
  --white: #fff;
  --gray-10: #f3f4f6;
  --gray-20: #e5e7eb;
  --gray-50: #d1d5db;
  --gray-100: #64748b;
  --gray-200: #94a3b8;
  --gray-300: #9ca3af;
  --gray-400: #6b7280;
  --gray-500: #4b5563;
  --blue-100: #334155;
  --blue-200: #1e293b;
  --blue-300: #0f172a;
  --green: #16a34a;
  --red-100: #ff5470;
  --red-200: #dc2626;

  /* Colors intentions */
  --background: var(--white);
  --text: var(--blue-200);
  --box-background: var(--gray-10);
  --line-color: var(--gray-50);
  --border-color: var(--yellow-100);
  --button-background: var(--yellow-200);

  /* Styles */
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 5px;
  --border-radius-xl: 6px;
  --border-radius-xxl: 8px;

  /* fonts */
  --body-font: "IBM Plex Mono", monospace;
  --header-font: "IBM Plex Serif", serif;

  /* fonts */
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;

  /* Elevations */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-none: 0 0 #0000;
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

/* FROM type scale */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|IBM+Plex+Serif:400");

html {
  font-size: 112.5%;
} /*18px*/

body {
  background: var(--background);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
  color: var(--text);
  padding-bottom: 400px;
  transition: background 0.2s, color 0.3s ease-in-out;
}

p {
  margin-bottom: 1rem;
}

p a,
blockquote a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--header-font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Courier New", Courier, monospace;
}

/* For dark theme */
.dark {
  --background: var(--blue-200);
  --text: var(--white);
  --border-color: var(--yellow-100);
  --box-background: var(--blue-100);
  --line-color: var(--gray-20);
}

a {
  color: var(--text);
  border-bottom: 2px solid var(--border-color);
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

blockquote {
  border-left: 2px solid var(--yellow-200);
  margin: 0;
  padding: 0;
  padding-left: 1em;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: var(--box-background);
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-sm);
}

/* form */
form {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-bottom: 1em;
}

.form-group {
  padding: 0.4em;
  display: flex;
  flex-direction: column;
}

.form-group input,
select,
textarea,
button[type="submit"] {
  border-radius: 4px;
  border: 2px solid var(--line-color);
  padding: 0.3em 0.5em;
  box-shadow: var(--shadow-md);
}

.form-group button[type="submit"] {
  width: 12em;
  font-weight: bold;
}

button {
  --button-text: var(--blue-300);
  --button-border: var(--blue-300);
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.25em 0.45em;
  margin-top: 0.5em;
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  transition: background-color 0.2s ease-in-out;
  box-shadow: var(--shadow-md);
}

button:hover {
  background-color: var(--button-border);
  color: var(--white);
  box-shadow: var(--shadow-xl);
}

button.cancel {
  --button-cancel-background: var(--red-100);
  background-color: var(--button-cancel-background);
  color: var(--white);
}

button.cancel:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

button[data-theme="theme"] {
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  right: 120px;
}
table {
  margin-bottom: 2em;
}

main.layout {
  /* max-width: 900px; */
  max-width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
}

.grid {
  --grid-cols: 2;
  --gap: 0;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.cols-3 {
  --grid-cols: 3;
}

.cols-4 {
  --grid-cols: 4;
}

.flex {
  --justify-content: space-between;
  display: flex;
  justify-content: var(--justify-content);
}
.flex-around {
  --justify-content: space-around;
}

.box {
  width: 23em;
  border-radius: var(--border-radius-md);
  border: 2px solid var(--border-color);
}
.box img {
  width: 100%;
  object-fit: contain;
  border-radius: var(--border-radius-md);
}

@media (min-width: 990px) {
  main.layout {
    max-width: 75%;
  }
  .gallery {
    --gap: 20px;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .gallery {
    --grid-cols: 1;
    --gap: 10px;
  }
}
